<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Dokumenty</h2>
        <h3>Zápisnice</h3>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-09-26.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">26.9.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">1. meeting. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-10-03.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">3.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">2. meeting.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-10-10.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">10.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">3. meeting.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-10-17.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">17.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">4. meeting.</p>
            </div>
        </div>
<!--        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-10-24.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">24.10.2015</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">5. meeting.</p>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-11-07.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">17.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">4. meeting.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-11-14.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">17.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">4. meeting.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-11-21.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">17.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">4. meeting.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="book/2016-11-28.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">17.10.2016</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">4. meeting.</p>
            </div>
        </div>-->
    
        
        <h3>Iné dokumenty</h3>

        <div class="row">
            <div class="col-lg-2">
                <a href="book/ponuka.pdf" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">ponuka</span></a>
            </div>
            <div class="col-lg-10 right">
                <p class="ourBook">Vypracovaná ponuka</p>
            </div>
        </div>

    </div>
</div>