<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Kontaktujte nás</h2>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://facebook.com/geoblaskovic" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li>
                <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
                <a href="mailto:xblaskovic@stuba.sk" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Mail</span></a>
            </li>
        </ul>
    </div>
</div>

<!--
.fa-user
.fa-envelope
.fa-envelope-o
.fa-file-text-o
.fa-file-pdf-o


.fa-facebook-square
.fa-skype
.fa-trello

.fa-bitbucket

.fa-html5
.fa-css3
-->