<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Zadanie</h2>
        <div class="right">
            <h3>Porovnanie cien v obchodných reťazcoch a najvýhodnejšej ceny pri nákupnom zozname.</h3>
            <p>
                Tento projekt sa zaoberá vytvorením aplikácie ShopAsistent, ktorá umožní užívateľom vytvoriť si nákupný zoznam a poskytne informáciu o možnom najlacnejšom nákupe špecifikovaného tovaru. 
            </p>
            <p>
                V dobe keď informačné technológie napredujú závratnou rýchlosťou je potrebné aby nezaostávala žiadna z oblastí. Každý deň chodí nakupovať veľké množstvo ľudí, ktorí navštevujú rôzne obchodné reťazce za účelom čo najlepšej kúpy. Zákazníci sa snažia nakúpiť čo najlacnejšie aby ušetrili pre ďalšie výdavky alebo iné nákupy. Počas nákupov mnoho z nich navštívi viac ako jeden obchod. V každom kupujú niečo iné a vyberajú si len najlacnejšie produkty. 
            </p>
            <p>
                Preto sme sa rozhodli založiť projekt, v ktorom zákazníkom ponúkneme tú najlepšiu variantu pre ich nákup. Chceme zákazníkovi ukázať, kde nakúpi všetky svoje produkty za najnižšiu cenu. Následne je už na zvážení zákazníka, ktorý obchodný reťazec navštívi, aby nakúpil všetky produkty počas nákupu. Rozdiel ceny v rôznych reťazcoch dokáže zákazníkovi ušetriť čas aj peniaze.
            </p>
            <p>
                Táto téma je veľmi rozsiahla, nakoľko sa dá začať s malým projektom a pokračovať až do komerčnej sféry. Pri dopĺňaní služieb bude potrebné myslieť nie len na funkčnosť, ale aj na bezpečnosť celého systému.
            </p>
        </div>
    </div>
</div>