<!-- Team Section -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2><i class="fa fa-users fa-fw"></i> Náš tím</h2>
        <div id="Jarci" class="row right onePerson">
            <h3>Bc. Jaroslav Hladík<span class="small">[Team Leader]</span></h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolvent bakalárskeho programu Aplikovaná informatika na FEI STUBA v odbore Bezpečnosť informačných systémov.</li>
                    <li>Téma bakalárskej práce: Kryptografické knižnice pre OS Android.</li>
                    <li>Záľuby: pes, šport, programovanie, šoférovanie, cestovanie.</li>
                    <li>Skúsenosti: C/C++, Java, Android.</li>
                </ul>
            </div>
        </div>
        <div id="Peter" class="row right onePerson">
            <h3>Bc. Peter Blaškovič</h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolvent bakalárskeho programu Aplikovaná informatika na FEI STU, pod doménou Bezpečnosť informačných systémov.</li>
                    <li>Téma bakalárskej práce: Aplikácia na využitie StegoStorage pod OS Windows.</li>
                    <li>Záľuby: programovanie, fotenie, šport.</li>
                    <li>Skúsenosti: C# (.Net), C/C++, Java, HTML + CSS + JS.</li>
                </ul>
            </div>
        </div>
        <div id="Miro" class="row right onePerson">
            <h3>Bc. Martin Eliáš</h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolvent bakalárskeho programu Aplikovaná informatika na FEI STUBA v odbore Bezpečnosť informačných systémov.</li>
                    <li>Téma bakalárskej práce: Analýza slovenských SSL a SSH. </li>
                    <li>Záľuby: hudba, hra na basgitaru, vývoj softvéru. </li>
                    <li>Skúsenosti: C/C++, Linux, Go. </li>
                </ul>
            </div>
        </div>
        <div id="MArtin" class="row right onePerson">
            <h3>Bc. Kamil Bekeč</h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolvent bakalárskeho programu Aplikovaná informatika na FEI STUBA v odbore Bezpečnosť informačných systémov.</li>
                    <li>Téma bakalárskej práce: Kryptografické útoky s využitím analýzy príkonu.</li>
                    <li>Záľuby: basketbal, cestovanie.</li>
                    <li>Skúsenosti: C/C++, Java, Matlab, Linux. </li>
                </ul>
            </div>
        </div>
        <div id="MArtin" class="row right onePerson">
            <h3>Bc. Alexandra Biľanská</h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolventka bakalárskeho programu Aplikovaná informatika na FEI STUBA v odbore Modelovanie a simulácia udalostných systémov.</li>
                    <li>Téma bakalárskej práce: Autentifikácia a bezpečnosť hesiel.</li>
                    <li>Záľuby: hudba, grafika, posilňovňa, beh, knihy, varenie.</li>
                    <li>Skúsenosti: HTML, Javascript, CSS, Matlab, webMethods, PHP, C++.</li>
                </ul>
            </div>
        </div>
        <div id="MArtin" class="row right onePerson">
            <h3>Bc. Kristián Šranko</h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolvent bakalárskeho programu Aplikovaná informatika na FEI STUBA v odbore Bezpečnosť informačných systémov.</li>
                    <li>Téma bakalárskej práce: Priamy prístup do pamäte cez sieťové rozhranie.</li>
                    <li>Záľuby: športy, cestovanie, učenie sa nových jazykov.</li>
                    <li>Skúsenosti: C/C++, Java.</li>
                </ul>
            </div>
        </div>
        <div id="MArtin" class="row right onePerson">
            <h3>Bc. Lenka Sýkorová</h3>
            <div class="col-lg-10">
                <ul>
                    <li>Absolventka bakalárskeho programu Aplikovaná informatika na FEI STUBA v odbore Bezpečnosť informačných systémov.</li>
                    <li>Téma bakalárskej práce: Ochrana súkromia pri dolovaní poznatkov z medicínskych údajov.</li>
                    <li>Záľuby: cestovanie, šport, hudba, komiksy.</li>
                    <li>Skúsenosti: C/C++, Java, Python.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
