<!--<div class="col-lg-10 col-lg-offset-1">-->
<div class="col-lg-12">
    <h2><i class="fa fa-trello fa-fw"></i> Trello</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="row" id="mojdiv">
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modalTitle">BestPrice Team</h4>
          </div>
          <div class="modal-body">
            <div id="modalDescription">
            </div>
            <div id="modalCheckItems">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>